@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600&display=swap");

// Background colors
$main-background-color: #181719;
$secondary-color: #fff;
$terciary-color: #828282;
$footer-color: #A9A9A9;

// Fonts
$titles-font: "Lora", serif;
$text-font: "Montserrat", sans-serif;
$logo-font: "Crimson Pro", serif;

// Grids
$grid-width: 160em;
$gutter_vertical: 8rem;