@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Mulish&display=swap");

// Titles colors
$main-cl: #333333;
$secondary-cl: #828282;
$terciary-cl: #bdbdbd;
$fourth-cl: #F2F2F2;

// Fonts
$main-font: "Montserrat", sans-serif;
$secondary-font: "Mulish", sans-serif;

// Grid
$max-grid: 1280px;

// Gutter
$gutter_vertical: 8px;
$gutter_horizontal: 5px;