@mixin flexbox($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify; 
  align-items: $align;
  flex-direction: $direction;
}

@mixin width($initial, $max) {
  width: $initial;
  max-width: $max;
}
