@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Roboto&display=swap");

// FONTS

// Family
$titles-font: "Montserrat", sans-serif;
$texts-font: "Roboto", sans-serif;

// Size
$default-font-size: 1.6rem;

// Colors
$color-primary: #deebfd;
$color-secondary: #b1cdf3;
$color-third: #6ca5d1;
$color-fourth: #2b3fcc;
$color-fifth: #959fab;
$color-sixth: #282a2c;

// Grids
$grid-width: 90%;
$grid-width-max: 1380px;
