* {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 100vw; 
   margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(10,  1fr);
  grid-template-rows: repeat(10, 200px) ;
}

.grid-item{}

.grid-item__Ssquare{
    grid-column: 3/4;
    grid-row: 3/4;
}

.grid-item__Brectangle {
    grid-row: 7/9;
    grid-column: 1/4;
    z-index: 2;

}
.grid-item__Lrectangle {
    grid-row: 5/10;
    grid-column: 1/2;

}
.grid-item__BLrectangle {
    grid-row: 6/11;
    grid-column: 5/8;

}
.grid-item__SBorder {
    border: 2px solid palevioletred;
    grid-row: 5/8;
    grid-column: 6/9;
}

.grid-item__BBorder {
    border: 2px solid palevioletred;
    grid-row: 2/9;
    grid-column: 7/10;
}
.grid-item__Title {
  
    grid-row: 3/5;
    grid-column: 6/9;
    font-size:8em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.grid-item--pink{
    background-color: palevioletred;
}
.grid-item--yellow{
    background-color: yellow;
}
.grid-item--blue{
    background-color: rgb(38, 221, 221);
}