.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;

  &__item {
    padding: 10px;
  }

  &__logo {
    grid-column: 1 /2;
    @include flexbox(center, center);
  }

  &__image {
    width: 120px;
    // max-width: 140px;
  }
}
